* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
img {
    width: 100%;
}
html, body, #root, .wrap {
    width: 100%;
    height: 100%;
}
.home-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    nav {
        height: 60px;
        border-top: 1px solid #cccccc;
        display: flex;
        line-height: 60px;
        a {
            flex: 1;
            text-align: center;
            text-decoration: none;
            color: #333333;
            &.active {
                color: lime;
            }
        }
    }
}
.home-main {
    flex: 1;
}
h1 {
    border-bottom: 1px solid purple;
}