* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
html, body, #root, .wrap {
    width: 100%;
    height: 100%;
    position: relative;
}
.list-wrap {
    width: 100%;
}
.list-item {
    padding: 15px;
    border-bottom: 1px solid #cccccc;
}
header {
    height: 60px;
    border-bottom: 1px solid skyblue;
}
nav {
    display: flex;
    width: 300px;
    border: 1px solid palevioletred;
}
nav span {
    flex: 1;
    line-height: 60px;
    text-align: center;
}
.mark {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    color: #ffffff;
}
ul {
    width: 200px;
    line-height: 50px;
    border: 1px solid lime;
}
li {
    border-bottom: 1px solid brown;
}
.drag {
    background: #cccccc;
}