* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body, #root {
    width: 100%;
    height: 100%;
    position: relative;
}
.drag {
    width: 200px;
    height: 200px;
    background: blue;
    position: absolute;
}