* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
img {
    width: 100%;
}
html, body, #root, .wrap {
    width: 100%;
    height: 100%;
}
.wrap {
    display: flex;
    flex-direction: column;
    & > main {
        flex: 1;
        overflow: hidden;
    }
}
footer {
    height: 60px;
    line-height: 60px;
    border-top: 1px solid red;
    display: flex;
    a {
        flex: 1;
        text-align: center;
        &.active {
            color: red;
        }
    }
}
.list-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .item {
        float: left;
        width: 50%;
        height: 120px;
        border: 1px solid red;
        button {
            padding: 10px;
            background: chartreuse;
        }
    }
}
.cart-wrap {
    width: 100%;
    height: 100%;
    overflow: auto;
    .item {
        border-bottom: 1px solid #cccccc;
        padding: 10px;
        button {
            padding: 10px;
            background: cyan;
        }
    }
}